.articles__title {
    font-size: 50px;
    text-align: center;
    border-bottom: 3px solid #c0392b;
    display: inline;

}
.articles {
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

.articles__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;


}

.article {
    width: 30%;
    height: 180px;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    text-decoration: none;
}

.article__filter {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;left:0%;
    background: linear-gradient (#000, rgba(O,O,O,0,2));

}

.article__name {
    color: #fff;
    z-index: 1;
    position: relative;
    text-align: left;
    font-size: 20px;
}